.user {
  .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  p {
    color: white;
    opacity: 50%;
    text-align: center;
    font-size: 25px;
  }
  &:hover {
    p {
      opacity: 100%;
    }
  }
}

.user1 {
  animation: user1 1s ease-in-out;
}
.user2 {
  animation: user2 1s ease-in-out;
}

.pindex {
  color: white;
  text-align: center;
  font-size: 40px;
}
